# =========================
# DATABASE
# =========================
ConnectionStrings__MyConc=Server=YOUR_SERVER;Database=YOUR_DB;User Id=YOUR_USER;Password=YOUR_PASSWORD
ConnectionStrings__Hangfire=Server=YOUR_SERVER;Database=YOUR_DB;User Id=YOUR_USER;Password=YOUR_PASSWORD


# =========================
# JWT
# =========================
JWT__SigningKey=YOUR_SECRET_KEY
JWT__Issuer=ClassUP
JWT__Audience=ClassUPClient
JWT__Lifetime=60


# =========================
# CLOUDINARY
# =========================
CloudinarySettings__CloudName=YOUR_CLOUD_NAME
CloudinarySettings__ApiKey=YOUR_API_KEY
CloudinarySettings__ApiSecret=YOUR_API_SECRET


# =========================
# MAIL
# =========================
MailSettings__Mail=YOUR_EMAIL
MailSettings__DisplayName=ClassUP
MailSettings__Host=smtp.example.com
MailSettings__Port=587
MailSettings__Password=YOUR_PASSWORD


# =========================
# ADMIN
# =========================
Admin__Email=admin@example.com
Admin__Password=YOUR_ADMIN_PASSWORD


# =========================
# PAYMOB
# =========================
Paymob__ApiKey=YOUR_API_KEY
Paymob__IntegrationId=YOUR_ID
Paymob__IframeId=YOUR_ID
Paymob__HmacSecret=YOUR_SECRET


# =========================
# HANGFIRE DASHBOARD
# =========================
HangfireSettings__username=YOUR_USERNAME
HangfireSettings__password=YOUR_PASSWORD